.container{
    width:607px ;
    height: 829px;
    margin: auto;
    margin-top:75px ;
    border-radius:12px ;
    background-image: linear-gradient(to right,blue,pink);
    
    
}
.top-bar{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 60px;

}
 .top-bar input{
    
    border:none ;
    outline: none;
    height: 50px;
    margin-left:50px ;
    padding-left:100px ;
    border-radius: 40px;
}
.search-icon{
    background-color: bisque;
    padding-top:10px ;
    margin-top: 7px;
    border-radius: 40px;
    cursor: pointer;
}
.top-bar img{
    height: 30px;
    width: 30px;
    border-radius: 40px;
}
.weather_image img{
    height: 250px;
    align-items: center;
    margin-left:200px ;
}
.weather_temp{
    color: white;
    font-size:80px;
    margin-left:200px ;
}
.weather_location{
    color: white;
    font-size: 30px;
    margin-left:240px ;
}
.element img{
    height: 90px;
}
.element2 img{
    height: 90px;
    
}
.element2{
    margin-left: 400px;
    margin-top: -120px;
}
.element{
    margin-left: 80px;
    margin-top: 50px;
}